#category-box-head {
}

.category-no {
    display: none;
}

.update-category-icon, #create-category-icon, .delete-category-icon {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.category-p, .blog-p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 12px;
}

.update-category-box {
    display: none;
}

.update-input {
    display: none;
}

.update-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.delete-icon {
    transform: translate(-300%, -50%);
}

.cancel-icon {
    transform: translate(-150%, -50%);
}

.confirm-icon {
    transform: translate(0, -50%);
}